* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
@import url(https://fonts.googleapis.com/css?family=Lobster);

#container {
  margin: 5rem 0;
  width: 100%;
  min-height: 50vh;
  /* background: linear-gradient(33deg, #202020, #484842);*/
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  padding: 10px;
}
/*
.prizeshead {
  height: 20%;
  text-align: center;
  font-size: 4rem;
  align-items: center;
  
}*/
.prizeshead {
  text-align: center;

  text-transform: uppercase;
  font-size: 3.5rem;
  letter-spacing: 1px;
}

.prizeshead:after,
.prizeshead:before {
  content: " ";
  display: block;
  border-bottom: 5px solid #ccc;
  background-color: #f8f8f8;
}

.card {
  max-width: 20rem;
  background-color: #dddddda1;
  border-radius: 10px;
  margin: 10px;
  overflow: hidden;
  transition: 0.2s;
}

.circle {
  width: 100%;

  height: 12rem;
  background-color: rebeccapurple;
  clip-path: circle(70% at 50% 0);
  text-align: center;
  line-height: 150px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
}

.info {
  padding: 10px;
  font-size: 15px;
  text-align: center;
}

.info p {
  margin: 10px 0;
}

.info a {
  display: inline-block;
  text-decoration: none;
  background-color: rebeccapurple;
  padding: 10px;
  border-radius: 30px;
  margin: 10px 0;
  color: #fff;
}

.card:nth-child(1) .circle,
.card:nth-child(1) a {
  /*background-color: #ec275b;*/
  background-image: url(/images/win6.2.jpg);
  background-size: cover;
}

.card:nth-child(2) .circle,
.card:nth-child(2) a {
  /* background-color: #f4bb51;*/
  background-image: url(/images/win4.jpg);
  background-size: cover;
}

.card:nth-child(3) .circle,
.card:nth-child(3) a {
  /*background-color: #90eb00;*/
  background-image: url(/images/win3.jpg);
  background-size: cover;
}
/*
#container:hover .card {
  filter: blur(10px);
  opacity: 0.5;
  transform: scale(0.9);
}
#container .card:hover {
  filter: blur(0px);
  opacity: 1;
  transform: scale(1.1);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.488);
}*/
#container .card:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
/*
#container .card:hover img {
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
}

#container .card.glow-wrap {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  margin-top: -10px;
}

#container .card .glow {
  display: block;
  position: absolute;
  width: 40%;
  height: 200%;
  background: rgba(255, 255, 255, 0.2);
  top: 0;
  filter: blur(5px);
  transform: rotate(45deg) translate(-450%, 0);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#container .card:hover .glow {
  transform: rotate(45deg) translate(450%, 0);
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#container .card:hover img,
#container .card:hover .glow-wrap {
  margin-top: 0;
}

h1 {
  position: absolute;
  z-index: 1;
  transform: translate(-25%, -65%);
}*/

.bannerprizes {
  position: relative;
  height: 15em;
  overflow: hidden;
  background: white;
  background-position: 50% 0%;
  background-size: cover;
  background-blend-mode: multiply;
}
.bannerprizes:before {
  content: "";
  display: block;
  position: relative;
  top: -50%;
  left: -25%;
  height: 93%;
  width: 200%;
  background: rgb(128, 0, 128);
  box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.1);
  transform: rotateZ(-5deg) skew(-6deg);
}

.bannerprizes .headingprizes {
  position: absolute;
  top: 5vmax;
  left: 2vmax;
  padding: 0;
  margin: 0;
  color: white;
  font-size: 6em;
  font-family: "Lobster", cursive !important;
  transform: rotateZ(-5deg);
  text-shadow: 2px 2px 0px rgba(74, 16, 74, 0.468),
    4px 4px 0px rgba(81, 21, 81, 0.501), 6px 6px 0px rgba(75, 30, 75, 0.527),
    8px 8px 0px rgba(128, 0, 128, 0.511), 10px 10px 0px rgba(128, 0, 128, 0.467);
}
